<a href="https://colab.research.google.com/github/GKD-stack/DSC180A-Methodology-1/blob/main/DSC180A_Week3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Question 1

In [ ]:
import pandas as pd

all_counts = {}

for i in range(1,23):
    df = pd.read_csv(f'LDREF/chr{i}_freq.afreq', delimiter='\t')
    df['MAF'] = df['ALT_FREQS']
    df['Frequency_Category'] = 'Rare'  # Start with 'Rare'
    df.loc[df['MAF'] > .05, 'Frequency_Category'] = 'Common'
    df.loc[(df['MAF'] > 0.01) & (df['MAF'] <= .05), 'Frequency_Category'] = 'Low Frequency'
    all_counts[i] = df.groupby("Frequency_Category").count()[['MAF']]

In [ ]:
df

,#CHROM,ID,REF,ALT,PROVISIONAL_REF?,ALT_FREQS,OBS_CT,MAF,Frequency_Category
0,22,rs9617528,T,C,Y,0.259714,978,0.259714,Common
1,22,rs4911642,T,C,Y,0.143149,978,0.143149,Common
2,22,rs7287144,A,G,Y,0.309816,978,0.309816,Common
3,22,rs5748662,G,A,Y,0.302658,978,0.302658,Common
4,22,rs5994034,C,T,Y,0.109407,978,0.109407,Common
...,...,...,...,...,...,...,...,...,...
17484,22,rs13056621,G,A,Y,0.145194,978,0.145194,Common
17485,22,rs3865766,C,T,Y,0.438650,978,0.438650,Common
17486,22,rs3888396,T,C,Y,0.156442,978,0.156442,Common
17487,22,rs2238837,A,C,Y,0.323108,978,0.323108,Common
17488,22,rs28729663,G,A,Y,0.159509,978,0.159509,Common

# Question 2

chr1 1100000 mygene 0 +

plink2 --bfile LDREF/1000G.EUR.1 --extract range agrn_coord.txt --out 1000G.EUR.1.AGRN --make-bed


plink2 --bfile $1000G.EUR.1.maf0.05 --extract range gene_coord.txt --out 1000G.EUR.1.GeneX --make-bed

In [ ]:
import pandas as pd
expression_data = pd.read_csv('exp.txt', sep='\t', header=None)

In [ ]:
chromosomes_lst = list(set(expression_data.iloc[0][4:]))

In [ ]:
all_chromosomes = []
for i in range(1,23):
    df = pd.read_csv(f'LDREF/1000G.EUR.{i}.fam', header=None)
    df = df[0].str.split(" ", expand=True)
    all_chromosomes.extend(list(df[0]))
all_chromosomes = list(set(all_chromosomes))

In [ ]:
overlapping = set(chromosomes_lst).intersection(all_chromosomes)

In [ ]:
len(overlapping)

344

plink2 --bfile $input --maf 0.05 --out --make -bed where input=1000G.EUR.15 out=1000G.EUR.15.maf.05

plink2 --bfile LDREF\1000G.EUR.15 --maf 0.05 --out $1000G.EUR.15.maf0.05 --make-bed